<section id="top-section">
  <section id="top-middle">
    <div class="top-middle">
      <div class="headlines">Welcome</div>
      <div class="headlines-lower">The art of meeting your</div>
      <div class="headlines-lower">highest expectations</div>
      <div class="sub-headlines">full adventure package room from 145usd</div>
      <div class="explore-container">EXPLORE NOW</div>
    </div>
  </section>
</section>
<section id="middle-section">
  <div class="middle-section">
    <div class="middle-section-left">
      <div class="spacer"></div>
      <h1 class="reservations">RESERVATION</h1>
      <span>When you host a party or family reunion, the special</span>
      <span>and celebrations let you strengthen bonds with.</span>
      <div class="contact-us">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline></svg
        ><span><a href="">Contact Us</a></span>
      </div>
    </div>
    <div class="middle-section-right">
      <div class="spacer"></div>

      <ul>
        <li>Arrival Date</li>
        <li>Departure Date</li>
        <li>Adults</li>
        <li>Children</li>
      </ul>
    </div>
  </div>
</section>
<section id="section-1">
  <div class="spacer"></div>
  <div class="section-1">
    <h1>OUR ROOMS & SUITES</h1>

    <h2>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-left"
        >
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline></svg></span
      ><a href="/rooms">View All rooms</a>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline></svg
      ></span>
    </h2>
    <div class="room-list">
      <div class="room-card">
        <img
          src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-9-370x270.jpg"
          alt=""
        />
        <div class="room-card-text">
          <h3>Single Room</h3>
          <span>1 Person ,Queen bed 2 Window</span>
          <div>From 145 USD</div>
        </div>
      </div>
      <div class="room-card">
        <img
          src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-4-1-370x270.jpg"
          alt=""
        />
        <div class="room-card-text">
          <h3>Double Room</h3>
          <span>1 Person ,Queen bed 2 Window</span>
          <div>From 145 USD</div>
        </div>
      </div>
      <div class="room-card">
        <img
          src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-8-370x270.jpg"
          alt=""
        />
        <div class="room-card-text">
          <h3>Honeymoon Room</h3>
          <span>1 Person ,Queen bed 2 Window</span>
          <div>From 145 USD</div>
        </div>
      </div>
      <div class="room-card">
        <img
          src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-7-370x270.jpg"
          alt=""
        />
        <div class="room-card-text">
          <h3>Pool Villa</h3>
          <span>1 Person ,Queen bed 2 Window</span>
          <div>From 145 USD</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer"></div>
<section id="section-2">
  <div class="section-2">
    <h1 class="primary-headline">Our Services</h1>
    <div class="services">
      When you host a party or family reunion, the special celebrations let
    </div>
    <div class="services">you strengthen bonds with.</div>
    <div class="spacer"></div>
    <div class="secondary-card-list">
      <div class="secondary-card">
        <div class="secondary-card-text">Swimming pool</div>
      </div>
      <div class="secondary-card">
        <div class="secondary-card-text">Airport taxi</div>
      </div>
      <div class="secondary-card">
        <div class="secondary-card-text">free wifi</div>
      </div>
      <div class="secondary-card">
        <div class="secondary-card-text">Cleaning everyday</div>
      </div>
      <div class="secondary-card">
        <div class="secondary-card-text">Awesome Packages</div>
      </div>
      <div class="secondary-card">
        <div class="secondary-card-text">Butffet Breakfast</div>
      </div>
    </div>
  </div>
</section>
<section id="section-3">
  <div class="section-3">
    <div class="section-3-left">
      <div>
        <h1 class="tips">
          Travel's Tips
          <div class="more-tips">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-arrow-right"
              >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline></svg></span
            >More tips
          </div>
        </h1>
      </div>
      <div>
        <ul>
          <li class="list-container">
            <div>How to travel Mavides with only $300?</div>
          </li>
          <li class="list-container">
            <div>
              From the engagement to the joyous day and all the important
              milestones?
            </div>
          </li>
          <li class="list-container">
            <div>
              When you host a party or family reunion at Arrowpress Hotel?
            </div>
          </li>
          <li class="list-container">
            <div>
              From the engagement to the joyous day and all the important
              milestones?
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="section-3-right">
      <h1 class="tips">HAVE ANY QUESTION?</h1>
      <form
        action="mailto:your-email@example.com"
        method="post"
        enctype="text/plain"
      >
        <div class="list-container">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            style="background-color: #e7ecf1"
          />
        </div>
        <div class="list-container">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            style="background-color: #e7ecf1"
          />
        </div>
        <div class="list-container">
          <textarea
            id="question"
            name="question"
            placeholder="Your Question"
            style="background-color: #e7ecf1"
          ></textarea>
        </div>
        <input type="submit" value="Send" />
      </form>
    </div>
  </div>
</section>
