<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <% if (typeof css !== 'undefined') { %>
    <link rel="stylesheet" href="/<%= css %>" />
    <% } %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caramel&family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> <%- body %> <%-
    include("./partials/footer.ejs") %>
  </body>
</html>
