<section id="section-1">
  <div class="section-1"><h1>All Rooms</h1></div>
</section>
<section id="section-2">
  <section id="section-2">
    <div class="spacer"></div>
    <div class="section-2">
      <div class="room-list">
        <div class="room-card-outer">
          <div class="room-card">
            <img
              src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-9-370x270.jpg"
              alt=""
            />
            <div class="room-card-text">
              <h3>Single Room</h3>
              <span>1 Person ,Queen bed 2 Window</span>
              <div>$40.0 NIGHT</div>
            </div>
          </div>
        </div>
        <div class="room-card-outer">
          <div class="room-card">
            <img
              src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-4-1-370x270.jpg"
              alt=""
            />
            <div class="room-card-text">
              <h3>Double Room</h3>
              <span>1 Person ,Queen bed 2 Window</span>
              <div>$50.0 NIGHT</div>
            </div>
          </div>
        </div>
        <div class="room-card-outer">
          <div class="room-card">
            <img
              src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-8-370x270.jpg"
              alt=""
            />
            <div class="room-card-text">
              <h3>Honeymoon Room</h3>
              <span>1 Person ,Queen bed 2 Window</span>
              <div>$70.0 NIGHT</div>
            </div>
          </div>
        </div>
        <div class="room-card-outer">
          <div class="room-card">
            <img
              src="https://solaz.arrowtheme.com/wp-content/uploads/2016/12/room-7-370x270.jpg"
              alt=""
            />
            <div class="room-card-text">
              <h3>Pool Villa</h3>
              <span>1 Person ,Queen bed 2 Window</span>
              <div>$145.0 NIGHT</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
