.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  padding: 20px;
  padding-top: 100px;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}

a {
  color: #333;
  text-decoration: none;
}

.label {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 40px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.hamburger.open span:first-child {
  transform: rotate(45deg) translate(4px, 4px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
}
