.inner-wrapper .mainnav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
header {
  border-bottom: 0.1rem solid var(--white-op-2);
  width: 100%;
}
.nav-list--item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
