/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  float: right;
}
.navbar li {
  display: inline-block;
  margin-inline: 20px;
  /* float: right; */
}
.container {
  margin: 50px;
}
.mid-section {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10em;
}
.mid-right img {
  max-width: 100%;
}
.mid-section h1,
p {
  margin-bottom: 1em;
}
.mid-section button {
  position: absolute;
  width: 12em;
  height: 3em;
  left: 300px;
  background-color: lightblue;
}
.bottom-section {
  background-image: url("images/illustration-2.svg");
  text-align: left;
  /* width: 50%; */
  /* height: 10rem; */
}
.bottom-section p {
  width: 40%;
  margin-bottom: 1em;
}
.bottom-section h1 {
  width: 50%;
  margin-bottom: 1em;
}
.productive_box {
  background-color: #fff;
  margin-top: 3rem;
  padding: 30px;
  border-radius: 5px;
  width: 21.875rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
