<header>
  <img src="images\logo.svg" alt="logo" />
  <nav class="navbar">
    <ul>
      <li><a href="./index.html">Features</a></li>
      <li><a href="#section_3">Team</a></li>
      <li><a href="./form.html">Contact Us</a></li>
    </ul>
  </nav>
</header>
