@tailwind base;
@tailwind components;
@tailwind utilities;
body {
}

/* .navbar {
  display: flex;
} */
#top-section {
  background-image: url("assets/alchemyrefiner_alchemymagic_3_4d16375b-f477-4e1f-9383-3b1d3adf7d09_0.jpg");
  height: 100vh;
  background-size: cover;
  overflow: auto;
}
.navbar img {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 8em;
  height: 8em;
  /* opacity:1 */

  background-color: #b58a61;
}
.navbar ul {
  padding: 1em;
}
.middle-section {
  background-color: #b58a61;
  height: 100vh;
}
