#HeaderInner {
  color: #0a0a03;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 10px 10px 8px;
  text-align: left;
  z-index: 300;
}
.SiteLogoTop {
  color: #0a0a03;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 100%;
  display: block;
  width: 342px;
  height: 34px;
  float: left;
  margin: 0 50px 0 8px;
  padding: 0;
}
.SearchSubmit {
  list-style: none;
  width: 60px;
  height: 24px;
  margin: 0;
  padding: 0 3px;
  float: left;
  background: #5a5a53;
  border: none;
  color: #fff;
  font-size: 75%;
  font-weight: bold;
  text-align: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.MainNav {
  color: #0a0a03;
  line-height: 1.4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 980px;
}
.UtilityNav {
  color: #0a0a03;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 100%;
  display: block;
  float: left;
  margin: 3px 0 0;
  padding: 0;
}
.SearchKeywords {
  list-style: none;
  margin: 0;
  padding: 1px 0 1px 6px;
  float: left;
  width: 145px;
  height: 20px;
  color: #1e1e17;
  font-size: 75%;
  line-height: 15px;
  text-align: left;
  background: linear-gradient(
    to bottom,
    rgb(240, 240, 233) 0%,
    rgb(255, 255, 255) 99%
  );
  border-top: 1px solid #d2d2cb;
  border-right: none;
  border-bottom: 1px solid #d2d2cb;
  border-left: 1px solid #d2d2cb;
  border-radius: 4px 0 0 4px;
}
.LangNav {
  color: #0a0a03;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  float: right;
  margin: 12px 10px 0 5px;
  padding: 0;
  font-size: 75%;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: left;
  white-space: nowrap;
  position: relative;
}
.Nav {
  color: #0a0a03;
  line-height: 1.4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.MainNav {
  color: #0a0a03;
  line-height: 1.4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 980px;
}
#GlobalNav {
  color: #0a0a03;
  line-height: 1.4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0 auto -1px;
  padding: 0;
  clear: both;
  width: 100%;
  border-top: 1px solid #dcdcd5;
  background: #ebebe4;
}
#GlobalNavInner {
  color: #0a0a03;
  line-height: 1.4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
}
.Active {
  color: #0a0a03;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  list-style: none;
  position: relative;
  float: left;
  font-size: 75%;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  border: 1px solid #ebebe4;
  background-color: #b90000 !important;
  border-top: 1px solid #b90000 !important;
  border-bottom: 1px solid #b90000 !important;
  padding: 0 4px;
}

li {
  color: #0a0a03;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  float: left;
  font-size: 75%;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  border: 1px solid #ebebe4;
  /* display: flex; */
  gap: 5em;
}
.HasSubNav {
  color: #0a0a03;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  float: left;
  font-size: 75%;
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  border: 1px solid #ebebe4;
}
.SubNav {
  color: #0a0a03;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 2.2;
  font-size: 100%;
  margin: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 20px;
  background: #fafaf3;
  text-align: left;
  display: block;
  padding: 0 24px;
}
