#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: center;
}

thead {
  th {
    background-color: #55608f;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}
/* CSS for ExpenseForm */
.Form {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-control {
  margin-bottom: 20px; /* Ensures each field is exactly below the previous one */
}

.input-control label {
  display: block; /* Makes labels left-aligned */
  margin-bottom: 5px; /* Space between label and input */
}

.input-control input[type="text"],
.Form select {
  width: 100%; /* Increases the text field width to fill the container */
  max-width: 400px; /* Optional: Limits the maximum width */
  padding: 8px; /* Adds some padding inside the text fields for better readability */
}

.submit {
  align-self: center; /* Centers the submit button */
}
.danger {
  color: red;
}
.section-1 {
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.section-1-right {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
