body {
  margin: 0;
  font-family: Fira Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
nav {
  position: sticky;
}
.stick-top {
  position: sticky;
}
.mainNav {
  margin: 3em;
  position: sticky;
}
.mainNav {
  display: flex;
  flex-grow: 2;
}
.mainNav > div {
  flex: 1; /* This will apply to all divs */
}
.mainNav > div:first-child {
  flex: 1; /* This will apply only to the first div, giving it more space */
}
hr {
  margin: 20px;
  /* border: 0; */
  /* border-top: 1px solid #e9ecef; */
}
.media {
  width: 100%;
  padding-left: 32%;
  padding-top: 2em;
}
.mediaContents ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-grow: 3;
  /* flex-wrap: wrap; */
}
.mediaContents ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-grow: 3;
}
.mediaContents li {
  font-weight: 400;
  padding-right: 1em;
  border-right: solid 1px black;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel ul {
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2em;
}

.carousel li {
  list-style: none;
  /* font-weight: 900; */
  font-size: large;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.greyBox {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greyBox P {
  padding: 2px;
  color: #fff;
  font-weight: bold;
}
.member {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Fira Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.4;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #3c5d7a;
  background-color: #3c5d7a;
  color: #fff;
  margin-left: 0;
  font-size: 14.4px;
  padding: 8px;
  width: 140px;
  cursor: pointer;
}
.signin {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.4;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #3c5d7a;
  border-color: #3c5d7a;
  background-color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
  font-size: 14.4px;
  padding: 8px;
  margin-left: 8px;
  width: 70px;
  cursor: pointer;
}
.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.mainSection .left {
  flex: 2;
  margin: 1em;
}
.mainSection .right {
  flex: 1;
  margin: 1em;
}
.box {
  border: solid 4px #3c5d7a;
}
.insideBox ~ p div button {
  margin: 1em;
}
.box button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --zephr-color-text-main: #000000;
  --zephr-color-text-tinted: #333333;
  --zephr-color-background-main: #ffffff;
  --zephr-color-background-tinted: #cccccc;
  --zephr-color-accent-main: #dcf1fb;
  --zephr-color-accent-tinted: #81cdf1;
  --zephr-color-action-main: #618daf;
  --zephr-color-action-tinted: #395971;
  --zephr-color-warning-main: #d90b00;
  --zephr-color-warning-tinted: #ff190d;
  --zephr-typography-title-font: Roboto;
  --zephr-typography-title-fallbackFont: sans-serif;
  --zephr-typography-body-font: Fira Sans;
  --zephr-typography-body-fallbackFont: sans-serif;
  --zephr-button-fontWeight: normal;
  --zephr-button-fontSize: 16;
  --zephr-button-borderWidth: 0;
  --zephr-button-borderRadius: 9;
  --zephr-button-height: 50;
  --zephr-input-borderColor: #333333;
  --zephr-input-borderWidth: 1;
  --zephr-input-borderRadius: 5;
  --zephr-input-height: 50;
  margin: 0;
  -webkit-appearance: button;
  box-sizing: border-box;
  height: calc(var(--zephr-button-height) * 1px);
  line-height: 0;
  padding: 0 20px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  border-radius: calc(var(--zephr-button-borderRadius) * 1px);
  font-size: calc(var(--zephr-button-fontSize) * 1px);
  font-weight: normal;
  cursor: pointer;
  border-style: solid;
  border-width: calc(var(--zephr-button-borderWidth) * 1px);
  border-color: var(--zephr-color-action-tinted);
  transition: backdrop-filter 0.2s, background-color 0.2s;
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: var(--zephr-color-action-main);
  color: #fff;
  position: relative;
  overflow: hidden;
  font-family: var(--zephr-typography-body-font),
    var(--zephr-typography-body-fallbackFont);
}
.paddedElements {
  margin: 1em;
}
.withBox {
  margin-left: 1em;
}
.box p {
  font-weight: 500;
}
.card {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
}

.card-content {
  /* flex: 1; */
}

.card-title {
  font-weight: bold;
}

.card-image {
  /* float: right; */
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* flex: 1; */
}
