<footer>
  <div class="footer-logo">
    <img
      src="https://solaz.arrowtheme.com/wp-content/themes/solaz/images/logo_footer.png"
      alt="Logo"
    />
  </div>
  <div class="footer-text">
    <div>
      14 Tottenham Court Road, London, England - (102) 3456 789 -
      info@yourdomain.com
    </div>
    <div class="footer-text-down">Copyright © 2024 Solaz Villa Hotel</div>
  </div>
  <!-- <p>
      14 Tottenham Court Road, London, England - (102) 3456 789 -
      info@yourdomain.com
    </p>
    <p>Copyright © 2024 Solaz Villa Hotel</p> -->
</footer>
